*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #B91450;
}

#ticket{
    background-color: blue;

}

.radius{
    border-radius: 25px;
}

.text-b{
    color: #B91450;
}

.border_col{
    border: 1px solid #B91450;
}
